footer {
    width: 100%;
}

.htc-footer {
    width: 98.2%;
    margin: 0 auto;
    height: 530px;
}

.footer-wrapper {
    width: 100%;
    height: 25px;
    background-color: #E8E8E8;
    overflow:hidden;
}


.footer-align-center {
    width: 94%;
    margin: 0 auto;
    height: 25px;
    display: flex;
    color: dimgray;
}

.region-block {
    width: 46%;
    display: flex;
}

.region-text {
    vertical-align: middle;
    padding-left: 1%;
    padding-top: 4px;
    padding-bottom: 5px;
    white-space: nowrap; 
}

.region-text p {
    height: 18px;
    border: 0;
    border-right: solid 1px;
    padding-right: 14px;
    vertical-align: middle;
    margin: auto;
    font-size: 14px;
    line-height: 19px;
}

.globe {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-image: url(../../../assets/images/icons/globe_nbg.png);
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    position: relative;
}

.copyright-years {
    vertical-align: middle;
    padding: 0 7%;
    text-align: left;
    float: left;
    color: dimgray;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: .04em;
}

.privacy-block {
    display: flex;
    width: 45%;
    padding-left: 15%;
    padding-right: 1%;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: .04em;
    font-size: 11px;
}

.privacy {
    border-right: solid 1px;
    padding-right: 6px;
}

.security {
    padding-left: 6px;
}

.connect-block {
    width: 153px;
    padding: 4px 10% 0px 20px;
    display: flex;
}

.dots {
    display: flex;
    padding-top: 5px;
}

.circle {
    width: 7px;
    height: 7px;
    background-color: dimgray;
    border: 1px solid dimgray;
    border-radius: 50%;
    margin-left: 7px;
}

.connect {
    text-align: center;
    vertical-align: center;
    font-size: 14px;
    padding-top: 1px;
    padding-left: 8px;
}

.footer-list {
    background-color: #333;
    padding: 15px 45px 30px;
    width: 100%;
    height: 507px;
    position: relative;
}

.footer-list-center {
    max-width: 1340px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 462px;
    display: flex;
}

.footer-links-container {
    width: 84%;
    margin: 0;
    color: #595959;
    display: flex;
}

.link-col-1 {
    width: 25%;
    margin: 0;
    padding-right: 15px;
}

.link-col-1 ul {
    list-style: none;

}

.list-title {
    white-space: nowrap;
    margin: 20px 0 6px 0;
}
.list-title a{
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    letter-spacing: .04em;
    font-size: 11px;
}

.link-col-1 ul li  {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.link-col-1 ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 12px;
}

.legal-content {
    width: 13%;
    margin-top: 20px;
    margin-left: 10px;
    min-width: 125px;
}

.footer-logo {
    background-image: url(../../../assets/images/htc-footer-logo.png);
    width: 85px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
}

.legal-content p {
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 20px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@media (max-height: 720px) {
    .legal-content {
        display: none;
    }
}

.accessibility {
    font-weight: 600;
    font-size: 12px;
    color: white;
    line-height: 20px;
}