section {
    width: 100%;
}

.main-img-container {
    width: 100%;
}

.main-img {
    width: 98.2%;
    min-width: 988px;
    height: auto;
    display: block;
    margin: 0 auto;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 720px) {
    .main-img-container {
        display: none;
    }
}

.mobile-main-container {
    width: 100%;
}
.mobile-main-container img{
    width: 98.2%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 721px) {
    .mobile-main-container {
        display: none;
    }
}


.u-container {
    width: 100%;
    min-width: 988px;
    height: auto;
    text-align: center;
}

.u-container img {
    width: 32.8%;
    min-width: 316px;
    height: auto;
    display: inline-block;
    margin: 4px 1px;
    padding: 5px;
    overflow: hidden;
}

@media (max-width: 720px) {
    .u-container {
        display: none;
    }
}

.u-mobile-container {
    width: 100%;
}
.u-mobile-container img {
    width: 98.2%;
    margin: 0 auto;
    height: auto;
    display: block;
    margin-top: 4px;
}

@media (min-width: 721px) {
    .u-mobile-container {
        display: none;
    }
}

.u-container img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.onlyhtc-img-container {
    width: 100%;
}

.onlyhtc-img {
    width: 98.2%;
    min-width: 988px;
    height: auto;
    display: block;
    margin: 0 auto;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media (max-width: 720px) {
    .onlyhtc-img-container {
        display: none;
    }
}

.onlyhtc-mobile-container {
    width: 100%;
}

.onlyhtc-mobile {
    width: 98.2%;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

@media (min-width: 721px) {
    .onlyhtc-mobile-container {
        display: none;
    }
}

.carousel-home {
    width: 98.2%;
    height: 190px;
    margin: 0 auto;
    padding: 60px 30px;
    color: #333;
    background: white;
    margin-bottom: 10px;
    text-align: center;
}

.quotes {
    font-size: 16px;
    color: dimgray;
    line-height: 1em;
}

.author {
    font-style: italic;
    font-size: 13px;
    color: gray;
}

@media (min-width: 720px) {
    .carousel-home {
        min-width: 904px;
    }
    .quotes {
        font-size: 27px;    
        line-height: 1.2em;
    }
    .author {
        font-size: 20px;
    }
}


.buy-today-container {
    width: 98.2%;
    min-width: 988px;
    height: 620px;
    display: block;
    margin: auto;
    padding: 40px 30px 95px;
}

@media (max-width: 720px) {
    .buy-today-container {
        display: none;
    }
}

.buy-today-container h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    color: #474039;
    margin-top: 20px;
}

.phone-container {
    width: 100%;
    height: 327px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.item-container {
    width: 18%;
    height: 324px;
    display: inline-block;
    text-align: center;
}

.image-container {
    width: 100%;
    height: 220px;
    margin-bottom: 18px;
    position: relative;
    text-align: center;
    
}

.image-container .front, .image-container .back {
    width: 100px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}


.accessories {
    width: 198px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}

.item-container h3 {
    height: 35px;
}

.buy-button {
    width: 88px;
    height: 41px;
    border-width: 2px;
    border-style: solid;
    border-color: #1776BD;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-button a {
    padding: 15px 32px;
    text-decoration: none;
    color:#1776BD;
    font-size: 11px;
    font-weight: bold;
    text-align: center;

}

.buy-button:hover, .buy-button a:hover {
    background-color: #1776BD;
    color: white;
}

.view-phones {
    width: 210px;
    height: 41px;
    border-width: 2px;
    border-style: solid;
    border-color: #1776BD;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-phones a {
    padding: 15px 32px;
    text-decoration: none;
    color:#1776BD;
    font-size: 11px;
    font-weight: bold;
    text-align: center;

}

.view-phones:hover, .view-phones a:hover {
    background-color: #1776BD;
    color: white;
}

